:root{
    --bg-color:conic-gradient(from 35deg, rgb(0,0,0), rgb(123, 255, 0)) ;
}
html{
    margin: 0;
    padding: 0;
    background-image: var(--bg-color);
    height: 100vh;
    width: 100vw;
}
.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.to-do-list{
    text-align: center;
    margin-top: 90px;
    height: 100%;
}
.to-do-list h1{
    font-size: 4rem;
    color: aliceblue;
    text-shadow:
    0 0 7px #000000,
    0 0 10px #fff,
    0 0 21px #ffffff,
    0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(47, 211, 14),
    0 0 92px rgb(255, 255, 255),
    0 0 102px rgb(255, 255, 255),
    0 0 151px rgb(255, 255, 255);

}
input[type="text"]{
    font-family: "Fjalla One", sans-serif;
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 80%, 0.45);
    border-radius: 10px;
}
ol{
    padding: 0;
    font-family: "Fjalla One", sans-serif;
    margin: 1% 2.5%;
    transition-timing-function: linear;
}
li{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.486);
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.todo-task{
    flex: 1;
}
button{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5 ease;
    font-family: "Fjalla One", sans-serif;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    
}
.add-task-button{
    margin-left: 10px;
    font-family: "Fjalla One", sans-serif;
    --green: #1BFD9C;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}
.add-task-button:hover{
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}
.add-task-button:before{
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}
.add-task-button:hover:before{
    transform: translateX(15em);
}
.delete-task-button{
    --red:#ff0000;
    border: 2px solid var(--red);
    background: linear-gradient(to right, rgba(199, 52, 7, 0.1) 1%, transparent 40%,transparent 60% , rgba(124, 6, 6, 0.1) 100%);
    color: var(--red);
    box-shadow: inset 0 0 10px rgba(199, 52, 7, 0.4), 0 0 9px 3px rgba(199, 52, 7, 0.1);
}
.delete-task-button:hover{
    background-color: rgb(194, 0, 0);
    box-shadow: inset 0 0 10px rgba(199, 52, 7, 0.6), 0 0 9px 3px rgba(199, 52, 7, 0.2);
    color: white;
    text-shadow: 0 0 21px #ffffff;
}

.edit-task-button{
    --blue:rgb(0, 0, 255);
    border: 2px solid var(--blue);
    background: linear-gradient(to right, rgba(74, 7, 230, 0.1) 1%, transparent 40%,transparent 60% , rgba(89, 0, 255, 0.1) 100%);
    color: var(--blue);
    box-shadow: inset 0 0 10px rgba(61, 7, 212, 0.4), 0 0 9px 3px rgba(61, 7, 212, 0.1);
}
.edit-task-button:hover{
    background-color: rgb(0, 0, 255);
    box-shadow: inset 0 0 10px rgba(61, 7, 212, 0.6), 0 0 9px 3px rgba(61, 7, 212, 0.2);
    color: white;
    text-shadow: 0 0 21px #ffffff;
}
.move-button{
    --yellow:yellow;
    border: 2px solid var(--yellow);
    background: linear-gradient(to right, rgba(225, 250, 0, 0.1) 1%, transparent 40%,transparent 60% , rgba(238, 255, 0, 0.1) 100%);
    color: var(--yellow);
    box-shadow: inset 0 0 10px rgba(225, 250, 0, 0.4), 0 0 9px 3px rgba(225, 250, 0, 0.1);
}
.move-button:hover{
    background-color: rgb(173, 173, 0);

    box-shadow: inset 0 0 10px rgba(225, 250, 0, 0.6), 0 0 9px 3px rgba(225, 250, 0 0.2);
    color: white;
    text-shadow: 0 0 21px #ffffff;
}
.delete-task-button, .edit-task-button, .move-button{
    padding: 10px 14px;
    font-size: 1.1rem;
    margin-left: 8px;
}

